body, h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;
}

#header {
  background-color: #35424a; 
  border-bottom: 5px solid coral;
}

#header h1 {
    color: #fff;
    font-family: sans-serif;
    padding: 15px 0;
    display: inline-block;
}

#header .logo {
    color: coral;
}

.navbar{
    float: right;
}

.navbar li {
    display: inline;
}

.navbar li a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    padding: 25px 15px;
    display: inline-block;
}

.navbar li a:hover  {
color: coral;
}

.container {
    width: 70%;
    margin: auto;
}

#banner {
    height: 60vh;
    background-image: url(../images/main.jpg);
    background-size: cover;
    background-position: center -1600px;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}

#banner h1 {
    font-size: 56px;
    margin-bottom: 25px;
    
}

#newletter {
    background-color: #35424a;
    color: #fff;
    font-family: sans-serif;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}

#newletter .left {
    float: left;
}

#newletter .right {
    float: right;
}

#newlette input {
    padding: 5px;
}

.button {
    padding: 3px 20px;
    border: none;
    background-color: coral;
    color: #fff;
    margin-left: 15px;
}

#courses {
    padding: 30px 0;
}

.box {
    width: 33.3%;
    float: left;
    text-align: center;
    font-family: sans-serif;
}

.box img {
    max-width: 100%;
    width: 120px;
}

.clr {
    clear: both;
}

#footer {
    padding: 50px 0;
    text-align: center;
    background-color: coral;
    color: #fff;
    margin-top: 40px;
}

.main-content {
    width: 65%;
    float: left;
}

.sidebar {
    width: 30%;
    float: right;
}

#about-us {
    margin: 40px 0;
    font-family: sans-serif;
}

.bg-dark {
    background-color: #35424a;
    color: #fff;
    padding: 15px;
}

.service-box {
    padding: 30px;
    margin: 15px 0;
    background-color: #e5e5e5;
    border: 1px solid #555;
}

label {
    display: block;
    margin: 10px 0;
}

.from-input, textarea {
    width: 100%;
    padding: 10px 0;
}

.active {
    color: coral !important;
}